@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8B1874;
}

button {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

.container>.title {
  margin: 20px 0 10px 0;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.container>.description {
  color: #fff;
  font-size: 18px;
  margin: 0 auto 15px auto;
  width: 75%;
}

.container>.rectangles>.today>h2,
.container>.rectangles>.tomorrow>h2{
  font-weight: bold;
}

.container>.rectangles>.today>.date,
.container>.rectangles>.tomorrow>.date{
  font-size: 20px;
}

.rectangles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today, .tomorrow {
  background-color: #E4A5FF;
  width: 300px;
  height: 500px;
  margin: 0 20px;
  padding: 30px;
  position: relative;
}

.text-center {
  margin-bottom: 20px;
}

#addTomorrowInput, #addTodayInput {
  display: none;
}

pre {
  font-size: 16px;
}

p.footer {
  margin: 20px;
  color: #fff;
  font-size: 15px;
}

@media (width <= 575px) {
  .container>.description {
    font-size: 16px;
  }
  .rectangles {
    flex-direction: column;
  }
  .today {
    margin-bottom: 30px;
  }
  .today, .tomorrow {
    width: 300px;
  }
}